.DS_Store
mail.php
script.sql

#configuración del Visual Studio
.vscode/

#Académico
academico/config/
academico/functions/global.js
academico/models/DB.php
academico/utils/
academico/.htaccess

#Administrador
administrador/config/
administrador/functions/global.js
administrador/models/DB.php
administrador/utils/
administrador/.htaccess

#Admisiones
admisiones/config/
admisiones/functions/global.js
admisiones/models/DB.php
admisiones/utils/
admisiones/.htaccess

#Bienestar
bienestar/config/
bienestar/functions/global.js
bienestar/models/DB.php
bienestar/utils/
bienestar/.htaccess

#CEIE
ceie/config/
ceie/functions/global.js
ceie/models/DB.php
ceie/utils/
ceie/.htaccess

#Docente
docente/config/
docente/functions/global.js
docente/models/DB.php
docente/utils/
docente/.htaccess

#Estudiante
estudiante/config/
estudiante/functions/global.js
estudiante/models/DB.php
estudiante/utils/
estudiante/.htaccess

#Feria
feria/config/
feria/class/DB.php

#Financiero
financiero/config/
financiero/functions/global.js
financiero/models/DB.php
financiero/utils/
financiero/.htaccess

#Introductorio
introductorio/config/
introductorio/functions/global.js
introductorio/models/DB.php
introductorio/utils/
introductorio/.htaccess

#Postgrado
postgrado/config/
postgrado/functions/global.js
postgrado/models/DB.php
postgrado/utils/
postgrado/.htaccess

#Secretaria
secretaria/config/
secretaria/functions/global.js
secretaria/models/DB.php
secretaria/utils/
secretaria/.htaccess

#Validación
validacion/config/
validacion/functions/global.js
validacion/models/DB.php
validacion/utils/
validacion/.htaccess
