.DS_Store

#configuración del Visual Studio
.vscode/

#Académico
academico/config/
academico/functions/global.js
academico/models/DB.php
academico/utils/
academico/.htaccess
academico/routes.php

#Administrador
administrador/config/
administrador/functions/global.js
administrador/models/DB.php
administrador/utils/
administrador/.htaccess
administrador/routes.php

#Admisiones
admisiones/config/
admisiones/functions/global.js
admisiones/models/DB.php
admisiones/utils/
admisiones/.htaccess
admisiones/routes.php

#Bienestar
bienestar/config/
bienestar/functions/global.js
bienestar/models/DB.php
bienestar/utils/
bienestar/.htaccess
bienestar/routes.php

#CEIE
ceie/config/
ceie/functions/global.js
ceie/models/DB.php
ceie/utils/
ceie/.htaccess
ceie/routes.php

#Docente
docente/config/
docente/functions/global.js
docente/models/DB.php
docente/utils/
docente/.htaccess
docente/routes.php

#Estudiante
estudiante/config/
estudiante/functions/global.js
estudiante/models/DB.php
estudiante/utils/
estudiante/.htaccess
estudiante/routes.php

#Feria
feria/config/
feria/class/DB.php

#Financiero
financiero/config/
financiero/functions/global.js
financiero/models/DB.php
financiero/utils/
financiero/.htaccess
financiero/routes.php

#Introductorio
introductorio/config/
introductorio/functions/global.js
introductorio/models/DB.php
introductorio/utils/
introductorio/.htaccess
introductorio/routes.php

#Postgrado
postgrado/config/
postgrado/functions/global.js
postgrado/models/DB.php
postgrado/utils/
postgrado/.htaccess
postgrado/routes.php

#Secretaria
secretaria/config/
secretaria/functions/global.js
secretaria/models/DB.php
secretaria/utils/
secretaria/.htaccess
secretaria/routes.php

#Validación
validacion/config/
validacion/functions/global.js
validacion/models/DB.php
validacion/utils/
validacion/.htaccess
validacion/routes.php