.DS_Store

#configuración del Visual Studio
.vscode/

#archivos de configuración
administrador/config/
administrador/models/DB.php
administrador/functions/global.js

academico/config/
academico/models/DB.php
academmico/functions/global.js

admisiones/config/
admisiones/files/
admisiones/models/DB.php
admisiones/functions/global.js

bienestar/config/
bienestar/models/DB.php
bienestar/functions/global.js

ceie/config/
ceie/models/DB.php
ceie/functions/global.js

docente/config/
docente/models/DB.php
docente/functions/global.js
docente/firma/

estudiante/config/
estudiante/models/DB.php
estudiante/functions/global.js
estudiante/files/

feria/config/
feria/models/DB.php

financiero/config/
financiero/models/DB.php
financiero/functions/global.js

introductorio/config/
introductorio/models/DB.php
introductorio/functions/global.js

postgrado/config/
postgrado/models/DB.php
postgrado/functions/global.js

secretaria/config/
secretaria/models/DB.php
secretaria/functions/global.js

validacion/config/
validacion/models/DB.php
validacion/functions/global.js

#directorios con documentos y fotos 
docente/firma/
estudiante/files/

#fuentes
font-awesome/
PHPMailer/
estudiantes.txt